<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Test Suite" verbose="1">

    <test name="Check Price">
        <classes>
            <class name="scripts.CheckPriceTest"/>
        </classes>
    </test>

    <test name="Check Tax">
        <classes>
            <class name="scripts.TaxCheckTest"/>
        </classes>
    </test>

    <test name="Compare Items">
        <classes>
            <class name="scripts.CompareItemsTest"/>
        </classes>
    </test>

    <test name="Languages">
        <classes>
            <class name="scripts.LanguagesTest"/>
        </classes>
    </test>

    <test name="Login">
        <classes>
            <class name="scripts.LoginTest"/>
        </classes>
    </test>

</suite>